<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand ms-3" href="#">
            <img src="https://www.medibuddy.in/assets/images/medibuddy-icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top"><span class="text-primary fw-semibold"> <span class="text-color ms-1">Med</span>life </span></a>
        
        <div class="text-end">
            <a class="me-3 text-decoration-none">About Us</a>
            <a class="ms-2 text-decoration-none">Login</a>
        </div>
    </div>
      </nav>
</div>
