.home-container{
    width: 60%;
}
.icon-possiton{
    position: relative;
    top: 15;
}
.text-color{
    background: linear-gradient(104deg,#4285f4 4%,#db4437 35%);
    background-clip: text;
    color: transparent;
}