<div class="container-fluid border bg-primary p-4">
    <div class="row">
<h4 class="text-center text-white fw-semibold">Get Huge Savings on Medicines</h4>
    </div>
    <div class="row">
        <div class="d-flex flex-row mb-3 text-white justify-content-center">
            <div class="p-2"><i class="bi bi-check-circle me-2"></i>100 % Genuine Medicines</div>
            <div class="p-2"><i class="bi bi-check-circle me-2"></i>Trusted Pharmacies</div>
            <div class="p-2"><i class="bi bi-check-circle me-2"></i>Delivery to your doorstep</div>
            <div class="p-2"><i class="bi bi-check-circle me-2"></i>Store Pick up</div>
          </div>
    </div>
</div>